In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_excel("weight_price.xlsx")
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [30]:
x = df['Weight']
y = df['Price']
print(x)
print(y)

0    2
1    4
2    5
3    3
4    6
5    5
6    7
Name: Weight, dtype: int64
0    35
1    60
2    20
3    50
4    50
5    55
6    60
Name: Price, dtype: int64

In [31]:
mean_x = np.mean(x)
mean_y = np.mean(y)

print(mean_x,' ', mean_y)

4.571428571428571   47.142857142857146

In [32]:
# Deviations
# x- x_bar
dev_x = x- mean_x
dev_y = y - mean_y

print(dev_x," ", dev_y)

0   -2.571429
1   -0.571429
2    0.428571
3   -1.571429
4    1.428571
5    0.428571
6    2.428571
Name: Weight, dtype: float64   0   -12.142857
1    12.857143
2   -27.142857
3     2.857143
4     2.857143
5     7.857143
6    12.857143
Name: Price, dtype: float64

In [33]:
slope_coefficient_m = np.sum(dev_x * dev_y)/(np.sum(dev_x ** 2))
slope_coefficient_m

2.620967741935484

In [34]:
intercept_c = mean_y - (slope_coefficient_m * mean_x)
intercept_c

35.16129032258065

**Calculating the vegetable price**

In [35]:
predicted_prince_for_veg = (slope_coefficient_m * 6) + intercept_c
predicted_prince_for_veg

50.88709677419355

**<h1> Task 02 </h1><br>All the predicted values**

In [36]:
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [37]:
df['predicted_price']  = (slope_coefficient_m * x) + intercept_c
df

   Weight  Price  predicted_price
0       2     35        40.403226
1       4     60        45.645161
2       5     20        48.266129
3       3     50        43.024194
4       6     50        50.887097
5       5     55        48.266129
6       7     60        53.508065

In [38]:
df['residials'] = y - predicted_price
df

   Weight  Price  predicted_price  residials
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097
5       5     55        48.266129   6.733871
6       7     60        53.508065   6.491935

In [11]:
df

   Weight  Price  predicted_price  residials
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097
5       5     55        48.266129   6.733871
6       7     60        53.508065   6.491935

In [12]:
df['squared_value'] = df['residials'] **2
mse = df['squared_value'].mean()
mse

167.30990783410135

In [13]:
mae = np.abs(df['residials']).mean()
mae

9.87327188940092